.message-container {
	margin-bottom: var(--spacing-md);
	max-width: 80%;

	.message-sender {
		margin-bottom: var(--spacing-xs);
		font-size: var(--font-size-xs);
		font-weight: 500;
		display: flex;
		justify-content: space-between;

		.message-time {
			color: var(--color-text-tertiary);
			font-weight: normal;
		}
	}

	mat-card {
		padding: var(--spacing-smd);
		border-radius: 12px;
	}
}

.user-message {
	margin-left: auto;

	.message-sender {
		text-align: right;
	}

	mat-card {
		background-color: var(--color-primary-extralight);
	}
}

.assistant-message {
	margin-right: auto;

	mat-card {
		background-color: var(--color-background-alt);
	}
}
