@let msg = message();

<div class="message-container agent-message">
  <img class="avatar" [src]="getAgentAvatar()" alt="Agent Avatar" />
  <div class="message-bubble" [attr.data-agent-type]="agentType()">
    <div class="agent-header">
      <span class="agent-name">{{ msg.agentName }}</span>
      <span class="agent-specialty-tag">{{ getAgentSpecialty() }}</span>
    </div>
    <div class="message-text">
      <markdown [data]="msg.text"></markdown>
    </div>
    @if (msg.masterAgentThinking) {
    <div class="master-agent-thinking">
      <img src="assets/icons/more-horiz.svg" alt="Thinking icon" class="thinking-icon">
      <markdown [data]="msg.masterAgentThinking"></markdown>
    </div>
    }
  </div>
</div>

@if (msg.executionDetails && msg.executionDetails.executionSteps && msg.executionDetails.executionSteps.length > 0) {
<app-execution-details [details]="msg.executionDetails"></app-execution-details>
}

<div class="timestamp agent-message">
  {{ formattedTimestamp() }}
</div> 
