<div class="sidebar-container">
	<div class="sidebar-header">
		<h2 class="sidebar-title">{{ 'CHAT.SIDEBAR_TITLE' | translate }}</h2>
	</div>
	<button class="new-chat-btn" (click)="onStartNewChat()">
		<img src="assets/icons/plus.svg" alt="New Chat" class="new-chat-icon" />
		<span>{{ 'CHAT.NEW_CHAT' | translate }}</span>
	</button>
	<div class="search-bar">
		<img src="assets/icons/search.svg" alt="Search" class="search-icon" />
		<input type="text" placeholder="{{ 'CHAT.SEARCH_PLACEHOLDER' | translate }}" />
	</div>

	<div class="conversations-list-container">
		@if (conversations(); as convos) {
			<app-conversation-list
				[conversations]="convos"
				[selectedConversation]="selectedConversation()"
				(selectConversation)="onSelectConversation($event)"
				(loadMore)="onLoadMoreConversations()"
			></app-conversation-list>
		}
	</div>
</div>
